.env
.env*
node_modules
dist
out
build

# For line counting via the VS Code Counter extension
.VSCodeCounter

# If I have no idea what the hell im doing, i create a notebook and test it in there.
*.ipynb